@media print {

  html, body {
    color: black;
  }

  div.main {
    background-color: white;
  }

  #header, #tagline, #chat-input, svg {
    display: none;
  }

  .chat-message {
    display: block;
  }
}
